@charset "utf-8";
/* CSS Document */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,i,b,input,textarea{margin:0; padding:0;}
li{list-style:none;}
a{color:#333333; text-decoration:none;}
body{font-size:12px;}
input{padding:0; background:none; border:0; outline:none; margin:0;} 
textarea{outline:none; border:0; padding:0; resize:none;}
select{background:none;}
img{ vertical-align:top; border:none;}
/*重用*/
.fl{float:left;}
.fr{float:right;}
.clear:after{ content:''; display:block; clear:both;}
.cent-r{margin-right:20px;}
.cent-l{margin-left:20px;}
.cent-b{margin-bottom:10px;}
.cent-bb{padding-bottom:20px;}
.cent-bs{margin-bottom:19px;}
.w{width:1180px; margin:0 auto;}
