@charset "utf-8";
/* CSS Document */
html{ font-size:20px;}
*{ margin:0; padding:0;}
li{ list-style:none;}
a{ text-decoration:none;}
img{ vertical-align:top; border:none;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:''; display:block; clear:both;}
body{ font-family:'微软雅黑';}

