@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
a{ color:#000; text-decoration:none;}
li{ list-style:none;}
img{ vertical-align:top; border:none;}

.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:''; display:block; clear:both;}
.w{ width:1226px; margin:0 auto;}
textarea,input{ border:none; outline:none;}
textarea{ resize:none;}
body{ font:12px 'microsoft yahei';}