/* CSS Document */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,input,textarea{ margin:0; padding:0;}
li{ list-style:none;}
i{ font-style:normal;}
img{ vertical-align:top; border:none;}
a{ text-decoration:none; color:#3c3c3c;}
input,textarea{ outline:none; border:none;}
textarea{ resize:none;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:''; display:block; clear:both;}
html,body{ font-size:20px;}

/*register*/
.register{ width:18.75rem; height:33.35rem; position:relative;}
.register .bck{ position:absolute; left:0; top:0; width:100%; height:100%;}
.register .check{ position:absolute; left:2.05rem; top:16.325rem; position:relative; width:14.75rem; height:5.525rem;}
.register .check .username{ width:11.6rem; height:2.75rem; border:1px solid #e8f1f2; background:none; padding-left:3.1rem; border-top-left-radius:8px; border-top-right-radius:8px; font-size:0.8rem;}
.register .check .password{ width:11.6rem; height:2.75rem; border:1px solid #e8f1f2; border-top:none; background:none; padding-left:3.1rem; border-bottom-left-radius:8px; border-bottom-right-radius:8px; margin-bottom:2rem; font-size:0.8rem;}
.register .check .bank{ width:1.3rem; height:1.05rem; position:absolute; left:0.525rem; top:0.85rem;}
.register .check .bank img{ width:100%; height:100%;}
.register .check .key{ width:1.15rem; height:1.15rem; position:absolute; left:0.6rem; top:3.7rem; }
.register .check .key img{ width:100%; height:100%;}
.register .check button{ width:14.75rem; height:2.5rem; background:#de6262; border-radius:8px; border:none;}
.register .check button a{ display:block; width:100%; font-size:0.75rem; height:100%; color:#fff; text-align:center; line-height:2.5rem;}
.register .guide{ width:4.825rem; line-height:2.275rem; position:absolute; left:12.25rem; top:26.5rem;}
.register .guide a{ color:#f40; font-size:0.75rem;}
/*头部共用*/
.header{ position:relative; text-align:center; height:2.25rem; width:18.75rem; border-bottom:1px solid #f5f5f5; background:#fff;}
.header .bar{width:0.45rem; height:0.75rem; position:absolute; left:0.75rem; top:0.725rem; font-size:0.7rem; color:#999; overflow:hidden;}
.header .bar img{ width:0.45rem; height:0.75rem;}
.header .person{ position:absolute; color:#999; font-size:0.675rem; text-align:center; line-height:0.85rem;  top:0.725rem; right:0.5rem; width:1.9rem; height:0.85rem; overflow:hidden;}
.header .person img{width:0.9rem; height:0.85rem; float:right;}
.header h2{ text-align:center; line-height:2.25rem; font-size:0.85rem; color:#666; font-weight:normal;  white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin:0 auto; width:14rem;}
/*底部共用*/
.footer_total{ width:18.75rem; height:2.2rem; position:fixed; left:0; bottom:0; background:#fff; border-top:1px solid #ebebeb;}
.footer_total span{ line-height:2.2rem; font-size:0.75rem; color:#666; margin-left:0.75rem;}
.footer_total a{ width:7.5rem; height:2.2rem; line-height:2.2rem; text-align:center; font-size:0.75rem; background:#d6131c; color:#fff;}
.null_d{ width:18.75rem; height:2.25rem; background:#f5f5f5; margin-bottom:2.2rem;}
.null{width:18.75rem; height:0.4775rem; background:#f5f5f5;}
/*hellow*/
.hellow{width:18.75rem; height:33.35rem;}
.hellow p{ text-align:center; width:100%; line-height:9.35rem; font-size:1.1rem; margin-bottom:0.775rem; color:#5e7f90;}
.hellow>img{ width:13.775rem; height:13.9rem; margin-left:2.65rem;}
.hellow a{ display:block; width:7.45rem; height:1.55rem; border:1px solid #537688; border-radius:8px; margin-left:5.625rem; margin-top:2.975rem; text-decoration:none; color:#537688; text-align:center; line-height:1.55rem; font-size:0.8rem; position:relative;}
.hellow a i{width:0.325rem; height:0.65rem; position:absolute; top:0.4rem; right:0.5rem;}
.hellow a i>img{ width:100%; height:100%;}

/*home*/
.home header{ position:relative; text-align:center; height:2.25rem; width:18.75rem; background:#fff;}
.home header .bar{ position:absolute; left:0.75rem; top:0.725rem; line-height:0.8rem; height:0.8rem; font-size:0.7rem; color:#999; overflow:hidden;}
.home header .bar i{ float:left; width:0.65rem; height:0.8rem; margin-right:0.25rem;}
.home header .bar i>img{ width: 100%; height:100%;}
.home header .bar b{ float:left; line-height:0.825rem; font-weight:normal;}
.home header .person{ position:absolute; color:#999; font-size:0.675rem; line-height:2.25rem; top:0; right:0.5rem;}
.home header h2{ text-align:center; line-height:2.25rem; font-size:0.85rem; color:#666; font-weight:normal;}
.home .banner{ height:8.97rem; overflow:hidden;  position:relative;}
.home .banner .banner_car{ height:100%; overflow:hidden;}
.home .banner .banner_car .sMain{ width:18.75rem; height:8.975rem; float:left;}
.home .banner .banner_car .sMain img{ width:18.75rem; height:8.975rem;}
.home .banner .banner_btn{ width:5.7rem; height:0.425rem; position:absolute; left:50%; margin-left:-1.70rem; bottom:0.8rem;}
.home .banner_btn li{ width:0.425rem; height:0.425rem; border-radius:100%; background:#fff; border:1px solid #aba9ac; margin-right:0.55rem; float:left;}
.home .banner_btn .cur{ background:#2C7A87;}
/*nav*/
.home nav{ width:18.15rem; height:4.8rem; padding-left:0.6rem; position:relative;}
.home nav a{ float:left; width:2.5rem; text-align:center; padding-top:0.75rem; margin-right:1.25rem;}
.home nav a i{ display:inline-block; width:2.5rem; text-align:center;}
.home nav .my{ margin-right:0;}
.home nav a img{ width:2rem; height:2rem;  margin-bottom:0.5rem;}
.home nav .bg img{ width:2.25rem; height:2.25rem; margin-bottom:0.25rem;}
.home nav a b{ display:inline-block; width:100%; font-size:0.60rem; text-align:center; color:#666;}
.home nav .arrow_t{ width:18.75rem; height:0.4rem;  position:absolute; bottom:0; left:0;}
.home .arrow_t img{ width:18.75rem; height:0.4rem;}
.home section{ width:18.75rem;}
/*图标模式*/
.home .list{ width:18rem; height:24.875rem;  padding-left:0.75rem; padding-top:0.75rem;}
.home .list a{ float:left; width:2.75rem; height:4.975rem; margin-right:2.15rem;}
.home .list .fore{ margin-right:0;}
.home .list a img{ width:2.5rem; height:2.5rem;}
.home .list a b{ display:inline-block; width:2.5rem; line-height:1.9rem; font-size:0.55rem; color:#333; text-align:center; margin-bottom:0.575rem;}
/*列表模式*/
.home .listing{ padding-top:0.75rem; padding-left:0.75rem; height:68.85rem; display:none;}
.home .listing .list_in{ width:17.25rem; height:3.55rem; position:relative; color:#fff; margin-bottom:0.5rem;}
.home .listing .list_in a{  width:17.25rem; height:3.55rem;}
.home .listing .list_in a img{ width:17.25rem; height:3.55rem;}
.home .listing .list_in>p{ position:absolute; width:100%; text-align:center; font-size:0.8rem; top:50%; left:0;  color:#fff; margin-top:-.4rem;}

/*cate*/
/*轮播图*/ 
.cate .figure{ width:18.75rem; height:9rem; overflow:hidden; position:relative;}
.cate .figure .figure_pic{ width:400%; height:9rem;}
.cate .figure_pic li{ width:18.75rem; height:9rem;}
.cate .figure_pic li a{ display:block; width:100%; height:100%;}
.cate .figure_pic li a img { display:block; width:100%; height:100%;}
.cate .figure .figure_btn{ position:absolute; bottom:0.45rem; right:0.5rem; width:2.5rem; height:0.3rem;}
.cate .figure_btn li{ width:0.2rem; height:0.2rem; border:1px solid #fff; border-radius:100%; margin-right:0.2rem;}
.cate .figure_btn .cur{ background:#fff;}
.cate .film_list{ width:18.75rem;}
.cate .film_list .film_list_h{ width:18.75rem; height:2.275rem; padding-left:0.325rem;}
/*导航*/
.cate nav{width:18.75rem; height:4.5rem; padding-top:0.75rem;  overflow:hidden; position:relative;  }
.cate .film_list{ width:37.5rem; height:4rem; overflow:hidden;}
.cate .film_list li{ width:18.75rem; height:4.5rem;}
.cate .film_list a{ width:4rem; margin-right:0.9rem;}
.cate .film_list .last{ width:4rem; margin-right:0;}
.cate .film_list a img{ width:2.5rem; margin-left:0.75rem;}
.cate .film_list a b{ width:4rem; display:inline-block; text-align:center; font-size:0.65rem; color:#333; line-height:1.9rem;}
.cate nav .nav_btn{ width:2.6rem; height:0.5rem; position:absolute; left:50%; margin-left:-1.3rem; bottom:0.1rem;}
.cate nav .nav_btn li{ width:0.3rem; height:0.3rem; border-radius:100%; border:1px solid #ccc; margin:0 0.25rem;}
.cate nav .nav_btn .show{ background:#0CF;}
/*美食列表*/
.cate .foot_list{ width:18.75rem;}
.cate .foot_list>li{ width:18.75rem; height:10.525rem; border-top:10px solid #f5f5f5; }
.cate .foot_list_h{ width:18.75rem; height:1.725rem;}
.cate .foot_list_h h4{ font-size:0.75rem; margin-left:0.75rem; line-height:1.725rem; color:#676767;}
.cate .foot_list_h a{ font-size:0.7rem; line-height:1.725rem; color:#a0a0a0; margin-right:0.75rem;}
.cate .foot_list_i{ width:18.75rem; height:8.55rem;}
.cate .foot_list_i>li{ width:9.35rem; height:4.25rem; border-top:1px solid #ebebeb; border-right:1px solid #ebebeb;}
.cate .foot_list_i .no_r{ border-right:none;}
.cate .foot_list_i>li .fruit{ width:9.35rem; height:4.25rem;}
.cate .fruit img{ width:2.85rem; height:2.85rem; margin:0.725rem 0 0 0.725rem;}
.cate .fruit .fruit_r{ width:5.1rem; padding-left:0.675rem; padding-top:0.6rem;}
.cate .fruit .fruit_r .text{ width:4.25rem; line-height:0.9rem; font-size:0.6rem; color:#333; overflow:hidden;text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2;}
.cate .fruit .fruit_r .inte{ width:4.25rem; line-height:1.55rem; font-size:0.6rem; text-align:right; color:#d93535;}

/*cate_last*/
.cate_last{ width:18.75rem;}
/*排序*/
.cate_last .order{ width:18.75rem; height:1.925rem; background:#fff; border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0;}
.cate_last .order li{ width:25%; height:100%;}
.cate_last .order li a{ width:100%; height:1.725rem; display:block; text-align:center; line-height:1.725rem; font-size:0.725rem; color:#666;}
.cate_last .order li:hover{border-bottom:0.1rem solid #d6131c; height:1.85rem;}
/*导航*/
.cate_last nav{ width:18.75rem; height:2.8rem; border-bottom:1px solid #e0e0e0; overflow:hidden; position:relative;}
.cate_last .nav_list{ width:56.25rem; height:2.5rem; transition:.5s all ease;}
.cate_last .nav_list li{ width:18.75rem; height:2.5rem;}
.cate_last .nav_list li>a{ width:3.8rem; height:1.45rem; box-sizing:border-box; border:1px solid #666; border-radius:0.2rem; text-align:center; line-height:1.45rem; font-size:0.6rem; color:#666; margin:0.5rem 0.44375rem;}
.cate_last nav .nav_act{ width:2.8rem; height:0.5rem; position:absolute; left:50%; margin-left:-1.4rem; bottom:0.075rem;}
.cate_last nav .nav_act li{ width:0.3rem; height:0.3rem; border-radius:100%; border:1px solid #ccc; margin:0 0.25rem;}
.cate_last nav .nav_act .show{ background:#0CF;}
.cate_last .nav_list .nav_show{ border:1px solid #d6131c; color:#d6131c;}
/*商品列表*/
.cate_last .comm{ width:18.75rem;}
.cate_last .comm li{ width:18.75rem; height:6rem; border-bottom:1px solid #ebebeb;}
.cate_last .comm li .list_pic{ width:5.5rem; height:5.5rem; padding-left:0.1rem; padding-top:0.4rem;}
.cate_last .comm li .list_pic img{ width:5rem; height:5rem; margin-left:0.4rem; margin-top:0.25rem;}
.cate_last .comm li .list_rt{width:13.15rem; height:6rem;}
.cate_last .list_rt .list_text{ display:block; width:11.5rem; font-size:0.7rem; padding-left:0.85rem; padding-right:0.8rem; padding-top:0.65rem; padding-bottom:0.85rem; line-height:0.9rem; color:#333; }
.cate_last .price{ height:2.7rem; width:13.15rem;}
.cate_last .price span{ margin-left:0.875rem; color:#db323a; font-size:0.7rem; line-height:2.6rem;}
.cate_last .price a{ color:#74c9ee; font-size:0.7rem; line-height:2.6rem; margin-right:0.75rem;}
.cate_last .price a img{ width:0.75rem; height:0.7rem; margin-top:0.95rem; margin-right:0.25rem;}
/**/
.cate_last .download{ width:18.75rem; line-height:1.8rem; font-size:0.7rem; color:#999; text-align:center;}
.cate_last .download_no{ width:18.75rem; line-height:1.8rem; font-size:0.7rem; color:#999; text-align:center;}
.cate_last .shopcar{ width:13.6rem; height:1.6rem; background:#3f3f3f; border:0.2rem solid #7f7f7f; color:#fff; text-align:center; line-height:1.6rem; position:fixed; bottom:3rem; left:50%; margin-left:-6.8rem; display:none;}

/*cate_refer*/
.cate_refer { width:18.75rem;}
/*订单*/
.cate_refer .code{ width:18.75rem; height:13.4rem; border-top:0.5rem solid #f5f5f5; border-bottom:1px solid #e0e0e0; background:#fff;}
.cate_refer .code_t{ width:18rem; height:5rem; padding-left:0.75rem; padding-top:0.5rem;}
.cate_refer .code_t img{ width:4.5rem; height:4.5rem;}
.cate_refer .code_infor{ width:13.05rem; padding-left:0.45rem; padding-top:0.4rem;}
.cate_refer .code_infor .text{ width:11.425rem; font-size:0.65rem; line-height:0.85rem; color:#333; margin-bottom:1.6rem;}
.cate_refer .code_infor .number{ font-size:0.65rem; }
.cate_refer .code_infor .number span:nth-child(1){ color:#666; width:1.45rem;}
.cate_refer .code_infor .number span:nth-child(2){ color:#e60013;}
.cate_refer .code_infor .number span:nth-child(2) i{ width:1.75rem; margin-right:0.2rem;}
.cate_refer .center{ width:18rem; height:7.9rem; padding-left:0.75rem;}
.cate_refer .center li{ width:18rem; height:1.95rem; border-top:1px solid #ebebeb;}
.cate_refer .center li p{ height:1.95rem; line-height:1.95rem; font-size:0.7rem;}
.cate_refer .center li p:nth-child(1){ margin-right:1rem;}
.cate_refer .center li p:nth-child(2){ width:10.75rem; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.cate_refer .center li a { width:0.35rem; height:0.7rem;  margin-right:0.75rem; margin-top:0.65rem;}
.cate_refer .center li a img{ width:0.35rem; height:0.7rem;}
.cate_refer .center_in_date p:nth-child(2){ color:#ccc;}
.cate_refer .center_in_date input{width:8.75rem; height:1.2rem; margin-top:0.4rem; }
.cate_refer .center .mouch p:nth-child(2){ width:1.75rem; margin-right:0.35rem;}
/*cate_shop*/
.cate_shop { width:18.75rem;}
/*商品*/
.cate_shop .commodity{ width:18.75rem;}
.cate_shop .commodity ul{ width:18.75rem;}
.cate_shop .commodity ul li{ width:18.75rem; height:8.925rem; border-bottom:1px solid #e0e0e0;}
.cate_shop .commodity ul li h3{ width:18rem; height:1.725rem; background:#f5f5f5; font-size:0.75rem; line-height:1.725rem; color:#666; padding-left:0.75rem;}
.cate_shop .commodity_list{ width:18.75rem; height:7.2rem;}
.cate_shop .commodity_list_t{ width:18.75rem; height:5.5rem;}
.cate_shop .commodity_list_t .switch{ width:0.75rem; height:0.75rem; margin-left:0.4rem; margin-top:2.375rem; margin-right:0.5rem;}
.cate_shop .commodity_list_t .switch img{ width:0.75rem; height:0.75rem; display:none;}
.cate_shop .commodity_list_t .switch .cur{ display:block;}
.cate_shop .commodity_list_t>img{ width:4.5rem; height:4.5rem;  margin-top:0.5rem; margin-right:0.5rem;}
.cate_shop .commodity_infor{ width:11.5rem; height:5.125rem; padding-top:0.375rem;}
.cate_shop .commodity_infor p:nth-child(1){ width:100%; font-size:0.7rem; line-height:0.9rem; color:#414141; margin-bottom:0.4rem;}
.cate_shop .commodity_infor p:nth-child(2){ width:100%; font-size:0.7rem; line-height:1.5rem; color:#666;}
.cate_shop .commodity_infor p:nth-child(3) span i{ font-style:normal; margin-right:0.2rem;}
.cate_shop .commodity_infor p:nth-child(3){ width:100%; height:0.75rem; line-height:0.75rem; font-size:0.7rem; color:#e60013;}
.cate_shop .commodity_infor p:nth-child(3) .rmove{ width:0.75rem; height:0.75rem; margin-right:0.425rem;}
.cate_shop .commodity_infor p:nth-child(3) .rmove img{ width:0.75rem; height:0.75rem; margin:0;}
.cate_shop .commodity_footer{ width:17.15rem; height:1.675rem; border-top:1px solid #ebebeb; margin-left:1.6rem;}
.cate_shop .commodity_footer .sub{ line-height:1.675rem; font-size:0.7rem; color:#666;}
.cate_shop .commodity_footer .num{ width:3.75rem; height:1.675rem; margin-right:0.75rem;}
.cate_shop .commodity_footer .num span{ width:0.95rem; height:0.95rem; margin-top:0.35rem; float:left;}
.cate_shop .commodity_footer .num span:nth-child(2){ width:1.85rem; height:0.95rem; line-height:0.95rem; font-size:0.6rem; color:#333; margin-top:0.35rem; text-align:center;}
.cate_shop .commodity_footer .num span img{ width:0.95rem; height:0.95rem;}
/*footer*/
.cate_shop .footer{ width:18.75rem; height:2.2rem; position:fixed; left:0; bottom:0; background:#fff; border-top:1px solid #ebebeb;}
.cate_shop .footer_l{ height:2.2rem; line-height:2.2rem; font-size:0.75rem; color:#666;}
.cate_shop .checked{ width:2.5rem; height:0.75rem; margin-top:0.725rem; margin-left:0.4rem; margin-right:0.5rem;}
.cate_shop .checked .all_pic{ width:0.75rem; height:0.75rem; margin-right:0.15rem; }
.cate_shop .checked .all_pic img{ width:0.75rem; height:0.75rem; display:none;}
.cate_shop .checked i{font-size:0.75rem; line-height:0.75rem;}
.cate_shop .footer_l .all{ color:#262626;}
.cate_shop .footer a{ width:7.5rem; height:2.2rem; background:#d6131c; text-align:center; line-height:2.2rem; font-size:0.75rem; color:#fff; }


/*cate_non_payment*/
.cate_non_payment { width:18.75rem;}
/*地址*/
.cate_non_payment .action{ width:18.75rem; height:4.5rem; border-top:0.5rem solid #f5f5f5; background:#fff;}
.cate_non_payment .action>img{ width:0.6rem; height:0.8rem; transform:translate(0.75rem,1.45rem);}
.cate_non_payment .action .action_infor{width:14.75rem; transform:translate(2.25rem,-0.8rem); padding:0.4rem 0 0.4rem 0;}
.cate_non_payment .action_infor p:nth-child(1){ font-size:0.75rem; color:#666; line-height:1.425rem;}
.cate_non_payment .action_infor p:nth-child(2){ font-size:0.75rem; color:#999; line-height:1rem; overflow:hidden;text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2;}
.cate_non_payment .action_infor p:nth-child(1) span{ margin-right:1rem;}
/*order*/
.cate_non_payment .order{ width:18.75rem; height:5.75rem; border-top:0.5rem solid #f5f5f5; background:#fff;}
.cate_non_payment .order_num{ width:18rem; height:1.725rem; border-bottom:1px solid #ebebeb; margin-left:0.75rem; line-height:1.725rem; font-size:0.75rem; color:#333;}
.cate_non_payment .order_num p:nth-child(2){ color:#d9232a; margin-right:0.75rem;}
.cate_non_payment .order_inf{ width:18.75rem; height:3.55rem; border-bottom:1px solid #e0e0e0; margin-top:0.45rem;}
.cate_non_payment .order_inf>img{ width:3.1rem; height:3.1rem; margin-left:0.725rem; margin-right:0.425rem;}
.cate_non_payment .order_inf .inf_txt{ width:10.05rem; font-size:0.6rem; padding-top:0.075rem;}
.cate_non_payment .inf_txt p:nth-child(1){ line-height:1.05rem; color:#000; overflow:hidden;text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2;}
.cate_non_payment .inf_txt p:nth-child(2){ line-height:1.3rem; color:#666;}
.cate_non_payment .order_march{ font-size:0.6rem; color:#222; margin-right:0.75rem; line-height:1.05rem;}
.cate_non_payment .user_infor{ width:18.75rem; border-top:0.5rem solid #f5f5f5; background:#fff;}
.cate_non_payment .user_infor li{ width:18rem; height:1.95rem; line-height:1.95rem; border-bottom:1px solid #ebebeb; margin-left:0.75rem; font-size:0.7rem; color:#333;}
.cate_non_payment .user_infor li P:nth-child(2){ margin-right:0.75rem; color:#666;}
/*cate_paid*/
.cate_paid { width:18.75rem;}
/*地址*/
.cate_paid .action{ width:18.75rem; height:4.5rem; border-top:0.5rem solid #f5f5f5; background:#fff;}
.cate_paid .action>img{ width:0.6rem; height:0.8rem; transform:translate(0.75rem,1.45rem);}
.cate_paid .action .action_infor{width:14.75rem; transform:translate(2.25rem,-0.8rem); padding:0.4rem 0 0.4rem 0;}
.cate_paid .action_infor p:nth-child(1){ font-size:0.75rem; color:#666; line-height:1.425rem;}
.cate_paid .action_infor p:nth-child(2){ font-size:0.75rem; color:#999; line-height:1rem; overflow:hidden;text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2;}
.cate_paid .action_infor p:nth-child(1) span{ margin-right:1rem;}
/*order*/
.cate_paid .order{ width:18.75rem; height:5.75rem; border-top:0.5rem solid #f5f5f5; background:#fff;}
.cate_paid .order_num{ width:18rem; height:1.725rem; border-bottom:1px solid #ebebeb; margin-left:0.75rem; line-height:1.725rem; font-size:0.75rem; color:#333;}
.cate_paid .order_num p:nth-child(2){ color:#d9232a; margin-right:0.75rem;}
.cate_paid .order_inf{ width:18.75rem; height:3.55rem; border-bottom:1px solid #e0e0e0; margin-top:0.45rem;}
.cate_paid .order_inf>img{ width:3.1rem; height:3.1rem; margin-left:0.725rem; margin-right:0.425rem;}
.cate_paid .order_inf .inf_txt{ width:10.05rem; font-size:0.6rem; padding-top:0.075rem;}
.cate_paid .inf_txt p:nth-child(1){ line-height:1.05rem; color:#000; overflow:hidden;text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2;}
.cate_paid .inf_txt p:nth-child(2){ line-height:1.3rem; color:#666;}
.cate_paid .order_march{ font-size:0.6rem; color:#222; margin-right:0.75rem; line-height:1.05rem;}
.cate_paid .user_infor{ width:18.75rem; border-top:0.5rem solid #f5f5f5; background:#fff;}
.cate_paid .user_infor li{ width:18rem; height:1.95rem; line-height:1.95rem; border-bottom:1px solid #ebebeb; margin-left:0.75rem; font-size:0.7rem; color:#333;}
.cate_paid .user_infor li P:nth-child(2){ margin-right:0.75rem; color:#666;}


/*concert*/
/*电影列表*/
.concert .film{ width:18.75rem;}
.concert .film li{width:18.25rem; height:6rem; padding-left: 0.5rem; border-bottom:1px solid #ebebeb;}
.concert .film li a{ display:block; width:100%; height:100%;}
.concert .film li img{ width:5rem; height:5rem; margin-top:0.5rem;}
.concert .film_rl{ width:12.3rem; padding-left:0.95rem; padding-top:0.65rem;}
.concert .film_rl .film_rltext{ width:11.8rem; line-height:0.9rem; font-size:0.7rem; color:#333; margin-bottom:0.375rem;}
.concert .film_rl p{ font-size:0.7rem; color:#9e9e9e; line-height:1.25rem;}
.concert .download{ width:18.75rem; line-height:1.8rem; font-size:0.7rem; color:#999; text-align:center;}
.concert .download_no{ width:18.75rem; line-height:1.8rem; font-size:0.7rem; color:#999; text-align:center;}


/*concert_order*/
.concert_order{ background:#f5f5f5;}
/*film_order*/
.concert_order .film_order{ width:18.35rem; border-top:0.5rem solid #f5f5f5; padding-left:0.4rem; background:#fff;}
.concert_order .film_order li{ width:17.95rem; height:5.275rem; padding-top:0.75rem;}
.concert_order .film_pic{ width:4.5rem; height:4.5rem; margin-right:0.5rem;}
.concert_order .film_r{ width:12.95rem;}
.concert_order .film_r h3{width:11.5rem; font-size:0.75rem; line-height:0.75rem; color:#333; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin-bottom:0.35rem;}
.concert_order .film_r p:nth-child(2){ width:12.35rem; line-height:1rem; font-size:0.65rem; color:#666; white-space:nowrap; overflow:hidden;text-overflow:ellipsis;}
.concert_order .film_r p:nth-child(3){ width:12.75rem; line-height:1rem; font-size:0.65rem; color:#666; }
.concert_order .film_r p:nth-child(3) .number{ margin-right:1.55rem;}
.concert_order .film_r p:nth-child(4){width:12.75rem; height:1.55rem;  font-size:0.65rem; color:#666;}
.concert_order .film_r p:nth-child(4) span{ margin-right:3.625rem; line-height:2.4rem;}
.concert_order .film_r p:nth-child(4) .cancel{ color:#4ca6e5; line-height:2.4rem;}
.concert_order .film_r p:nth-child(4) .pay{ width:4rem; height:1.55rem; background:#d6131c; color:#fff; text-align:center; line-height:1.55rem; font-size:0.65rem; border-radius:0.1rem; line-height:1.55rem;}

/*address*/
/*action*/
.address .action{ width:18.75rem; height:6.75rem; border-bottom:1px solid #ccc; margin-bottom:0.25rem; background:#fff;}
.address .action .name{width:17.95rem; height:1.775rem; margin-left:0.4rem; border-bottom:1px solid #f2f2f2; line-height:1.775rem; font-size:0.75rem; color:#333;}
.address .action_txt{ width:17.95rem; height:2.8rem; margin-left:0.4rem; font-size:0.7rem; line-height:1.2rem; padding-top:0.225rem; color:#333;}
.address .action_txt p{overflow: hidden;text-overflow: ellipsis; display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp:2;}
.address .alter{ width:17.475rem; height:1.925rem; line-height:1.925rem; font-size:0.75rem; color:#666; padding:0 0.75rem 0 0.525rem;}
.address .edit>img{ width:0.6rem; height:0.8rem; margin-top:0.525rem; margin-right:0.3rem;}
.address .edit .defau{ padding-right:0.75rem; border-right:2px solid #ccc; height:0.8rem; line-height:0.8rem; margin-top:0.525rem; margin-right:0.725rem;}
/*add_action*/
.address .add_action{ width:17.25rem; height:2.25rem; display:block; background:#d6131c; text-align:center; line-height:2.25rem; color:#fff; font-size:0.75rem; border-radius:0.2rem; margin-top:1.125rem; margin-left:0.75rem;}


/*electron_order*/
/*elect*/
.electron_order .elect{ width:18.75rem; height:5.7rem;  border-top:0.5rem solid #f5f5f5; background:#fff;}
.electron_order .elect_num{ width:17.25rem; height:1.525rem; padding:0 0.75rem; border-bottom:1px solid #ebebeb; line-height:1.525rem; font-size:0.6rem; color:#666;}
.electron_order .elect_infor{ width:17.25rem; height:4rem; padding:0.15rem 0.75rem 0 0.75rem;}
.electron_order .elect_infor h4{ width:18.75rem; line-height:1.35rem; font-size:0.8rem; color:#333;  font-weight:normal;}
.electron_order .elect_infor p{ line-height:1.35rem; color:#666; font-size:0.65rem;}
.electron_order .elect_infor .total{ width:17.25rem; height:1.35rem; line-height:1.35rem; font-size:0.65rem; color:#666;}
.electron_order .total span{ margin-right:1rem;}
.electron_order .total span b{ font-weight:normal;}


/*cate_order*/
/*order*/
.cate_order .order{ width:18.75rem; border-top:0.5rem solid #f5f5f5; border-bottom:1px solid #e0e0e0; background:#fff;}
.cate_order .order .total{ width:17.25rem; height:1.75rem; padding:0 0.75rem; line-height:1.75rem; color:#333; font-size:0.65rem;}
.cate_order .order .total>span{ color:#db3239;}
.cate_order .order .commod{ width:18.75rem;}
.cate_order .order .commod li{ width:18.75rem; height:3.85rem; background:#fff; margin-bottom:0.25rem;}
.cate_order .commod_infor .pic{ width:3rem; height:3rem; margin:0.425rem 0.3rem 0 0.65rem;}
.cate_order .commod_infor_txt{ width:10.25rem; height:3rem; margin-top:0.425rem;}
.cate_order .commod_infor_txt p:nth-child(1){ line-height:1rem; font-size:0.6rem; color:#000; overflow: hidden;
 text-overflow: ellipsis; display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp:2;}
.cate_order .commod_infor_txt p:nth-child(2){ line-height:1rem; font-size:0.6rem; color:#666; padding-top:0.15rem;}
.cate_order .commod_money{ margin-right:0.75rem; margin-top:0.425rem; }
.cate_order .commod_money p:nth-child(1){ line-height:1.15rem; color:#000; font-size:0.6rem; }
.cate_order .commod_money p:nth-child(2){  font-size:0.8rem; color:#000; }
.cate_order .order .number{ width:18rem; height:2rem; line-height:2rem; text-align:right; padding-right:0.75rem; font-size:0.65rem; color:#333;}



/*order_centre*/
/*null*/
.order_centre .null{ width:18.75rem; height:0.5rem; background:#f5f5f5;}
/*order_form*/
.order_centre .order_form{ width:18.75rem; background:#fff;}
.order_centre .order_form li{ width:17.25rem; height:2.5rem; line-height:2.5rem; padding-left:0.75rem; padding-right:0.75rem; border-bottom:1px solid #e0e0e0;}
.order_centre .order_form li a{ display:block; width:100%; height:100%; color:#666; font-size:0.75rem;}
.order_centre .order_form li a img{ width:0.325rem; height:0.65rem; margin-top:0.925rem;}


/*cate_success*/
.cate_success .ok_pic{width: 18.75rem;height: 4.1rem;margin-top: 4.175rem;}
.cate_success .ok_pic img{width: 7.7rem;height: 4.1rem;margin-left: 5.325rem;}
.cate_success .happy{width: 18.75rem;height:2.65rem;line-height: 2.65rem;text-align: center;color: #51c55b;font-weight: 800;}
.cate_success .skip{width: 18.75rem;height: 1.5rem;color: 666;font-size: 0.7rem;text-align: center;line-height: 1.5rem;font-weight: normal;}
.cate_success .skip a{display: inline-block;width: 3.95rem;height: 1.45rem;line-height: 1.45rem;text-align: center;border: 1px solid #ff4c5b;border-radius: 0.15rem;color: #ff4c5b;margin: 0 0.3rem;font-weight: bold;}

/*consignee*/
/*action*/
.consignee .action{ width:18.75rem; height:6.75rem; border-bottom:1px solid #e0e0e0; background:#fff; margin-bottom:0.5rem;}
.consignee .action .action_name{ width:16.875rem; height:2rem; line-height:2rem; color:#333; font-size:0.75rem; margin-left:1.875rem; border-bottom:1px solid #f2f2f2;}
.consignee .action .action_name span{ margin-right:0.75rem;}
.consignee .action_infor{ width:18.75rem; height:4.95rem;}
.consignee .action_infor img{ width:0.9rem; height:0.9rem; margin:1.05rem 0.475rem 0 0.5rem;}
.consignee .action_infor p{ width:15.75rem; height:2.3rem; line-height:1.15rem; font-size:0.65rem; margin-top:0.525rem;  color:#666; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;-webkit-line-clamp: 2;}
.consignee .action_infor a{ line-height:2.125rem; color:#414141; font-size:0.75rem; height:2.125rem; margin-right:0.875rem;}
.consignee .affirm{ width:17.75rem; height:2.25rem; background:#e60013; color:#fff; text-align:center; line-height:2.25rem; font-size:0.75rem; display:block; margin-left:0.5rem; margin-top:1.5rem;}
.consignee .add_action{ width:18.75rem; margin-top:0.6rem; text-align:right;}
.consignee .add_action a{ color:#4586f0; margin-right:0.625rem; font-size:0.7rem; line-height:1.5rem;}

/*consignee_add*/
/*person_infor*/
.consignee_add .person_infor{ width:18rem; padding-left:0.75rem; position:relative; background:#fff;}
.consignee_add .person_infor p{ width:18rem; height:1.2rem; font-size:0.7rem; color:#1a1a1a; line-height:1.2rem; padding-top:0.225rem;}
.consignee_add .person_infor input{ width:16.45rem; height:1.7rem; border:1px solid #999; padding-left:0.75rem; font-size:0.75rem;}
.consignee_add .person_infor .one{ color:#f40; position:absolute; left:1.05rem; top:1.9rem; font-size:0.75rem;}
.consignee_add .person_infor .tow{ color:#f40; position:absolute; left:1.05rem; top:5.1rem; font-size:0.75rem;}
.consignee_add .content-block .three{ color:#f40; position:absolute; left:0.25rem; top:0.4rem; font-size:0.85rem;}
.consignee_add .consignee_add .person_infor .action{ height:2.175rem; font-size:0.7rem; font-weight:bold; line-height:2.175rem;}
.consignee_add .content-block{ position:relative;}
.consignee_add .person_infor .row{ line-height:1.2rem; padding-top:0.5rem; color:#333; font-size:0.7rem;}
.consignee_add .person_infor .row span{ color:#f40; margin-right:0.15rem; margin-left:0.275rem; font-size:0.75rem;}
.consignee_add .person_infor textarea{width:16.6rem; height:2.85rem; border:1px solid #999; border-radius:0.2rem; font-size:0.75rem; padding:0.3rem;}
.consignee_add .person_infor .hint{ line-height:0.975rem; font-size:0.5rem; color:#666; margin-bottom:0.5rem;}
.consignee_add .person_infor .submit{ width:17.25rem; height:2.5rem; background:#e60013; color:#fff; font-size:0.75rem; margin-bottom:2.5rem;}

/*my*/
.my .username{ width:18.75rem; height:5.05rem; background:#fff;}
.my .username>div{ width:17.45rem; height:2.5rem; padding:0 0.675rem 0 0.625rem; border-bottom:1px solid #e0e0e0; line-height:2.5rem; font-size:0.75rem; color:#666;}
.my .username .name{ color:#d6131c;}
.my .username .exit{ color:#2eaee5;}
.my .action{ width:18.75rem; height:2.5rem; line-height:2.5rem; font-size:0.75rem; color:#666; border-top:0.5rem solid #f5f5f5; border-bottom:1px solid #e0e0e0; background:#fff;}
.my .action p img{ width:0.6rem; height:0.8rem; margin:0.85rem 0.55rem 0 0.75rem;}
.my .action>img{ width:0.325rem; height:0.65rem; margin:0.95rem 0.75rem 0 0.75rem;}
.my .action p .order{ width:0.7rem; height:0.8rem; margin:0.85rem 0.55rem 0 0.75rem;}

/*cincert_success*/
.cincert_success .film_ok{width: 18.75rem;height: 5.325rem;border-bottom:1px solid #e0e0e0;}
.cincert_success .film_ok img{width: 3.225rem;height: 2.55rem; margin: 1.25rem 0.825rem 0 2rem;}
.cincert_success .film_infor{width: 12.5rem;height: 4.075rem;margin-top: 1.25rem;}
.cincert_success .film_infor p{font-size: 0.875rem; line-height: 1.125rem; color: #7abd54;}
.cincert_success .film_infor a{font-size: 0.75rem;color: #2eaee5;line-height: 1.45rem; text-decoration: underline;}
.cincert_success .order_infor{width: 18.1rem;height: 6.025rem;border-bottom: 1px solid #e0e0e0;padding-left: 0.65rem;}
.cincert_success .order_infor h5{font-size: 0.75rem;color: #999;line-height: 1.75rem;margin-top: 0.25rem;font-weight: normal;}
.cincert_success .order_infor p{font-size: 0.75rem;color: #333;line-height: 1.25rem;font-weight: normal;}
.cincert_success .order_infor p span{margin-right: 0.75rem;}
.cincert_success .skip_infor{width: 18.1rem;height: 4.925rem;border-bottom: 1px solid #e0e0e0;padding-left: 0.65rem;}
.cincert_success .skip_infor h5{font-size: 0.75rem;color: #999;line-height: 1.75rem;margin-top: 0.25rem;font-weight: normal;}
.cincert_success .skip_infor p{font-size: 0.75rem;color: #333;line-height: 1.25rem;font-weight: normal;}
.cincert_success .warm{width: 17.25rem;line-height: 1.35rem;color: #666;padding: 0.75rem;font-size: 0.75rem;text-align: center; font-weight: normal;}

/*concert_detail*/
/*null*/
.concert_detail .null{ width:18.75rem; height:0.5rem; background:#f5f5f5;}
/*film_order*/
.concert_detail .film_order{ width:18.35rem; border-top:0.5rem solid #f5f5f5; padding-left:0.4rem; background:#fff;}
.concert_detail .film_order li{ width:17.95rem; height:5.275rem; padding-top:0.75rem;}
.concert_detail .film_pic{ width:4.5rem; height:4.5rem; margin-right:0.5rem;}
.concert_detail .film_r{ width:12.95rem;}
.concert_detail .film_r h3{width:11.5rem; font-size:0.75rem; line-height:1.25rem; color:#333; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.concert_detail .film_r p:nth-child(2){ width:12.35rem; line-height:1.3rem; margin-bottom:1.075rem; font-size:0.65rem; color:#666; white-space:nowrap; overflow:hidden;text-overflow:ellipsis;}
.concert_detail .film_r p:nth-child(3){ width:12.75rem; line-height:0.8825rem; font-size:0.65rem; color:#666; }
.concert_detail .film_r p:nth-child(3) .number{ margin-right:1.55rem;}
/*地址*/
.concert_detail .perf_action{ width:18.75rem; width:6.225rem; background:#fff;}
.concert_detail .perf_action h4{ width:18.1rem; height:1.7rem; background:#f5f5f5; line-height:1.7rem; font-size:0.7rem; color:#666; padding-left:0.65rem; font-weight:normal; border-top:1px solid #ebebeb;}
.concert_detail .site{ width:18rem; height:4.5rem; padding-left:0.75rem; background:#fff;}
.concert_detail .site img:nth-child(1){ width:0.6rem; height:0.8rem; margin-top:1.45rem; margin-right:0.9rem; margin-bottom:2rem;}
.concert_detail .site img:nth-child(3){ width:0.4rem; height:0.7rem; margin-top:2rem; margin-right:0.75rem;}
.concert_detail .site_infor{ width:14.75rem; padding-top:0.5rem;}
.concert_detail .site_infor .name{width:14.75rem; font-size:0.75rem; line-height:1.25rem; color:#666;}
.concert_detail .site_infor .name span:nth-child(1){ margin-right:1rem;}
.concert_detail .site_infor .name span:nth-child(2){ margin-right:0.5rem;}
.concert_detail .site_infor .name span:nth-child(3){ width:1.75rem; height:0.75rem; background:#d6131c; text-align:center; line-height:0.75rem; font-size:0.575rem; display:inline-block; color:#fff; margin-top:0.25rem;}
.concert_detail .site_infor .action{width:14.75rem; font-size:0.75rem; line-height:1.25rem; color:#666;}
.concert_detail .site_infor .action span{overflow: hidden;text-overflow: ellipsis; display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp:2;}*/
/*order_inofor*/
.concert_detail .order_inofor{ width:18.75rem; height:12.15rem; background:#fff;}
.concert_detail .order_inofor h4{ width:18.1rem; height:1.7rem; background:#f5f5f5; line-height:1.7rem; font-size:0.7rem; color:#666; padding-left:0.65rem; font-weight:normal; }
.concert_detail .order_state{ width:17.45rem; height:3.575rem;  border-bottom:1px solid #ebebeb; margin:0.55rem 0.65rem 0.3rem 0.65rem;}
.concert_detail .order_state li{ width:100%; height:1.2rem; line-height:1.2rem; font-size:0.7rem; color:#666;}
.concert_detail .order_state li span{ margin-right:0.2rem;}
.concert_detail .order_state li p{color:#333;}
.concert_detail .order_state li .n_money{ color:#d6131c;}
/*order_state*/
.concert_detail .order_inofor .order_infor{  width:17.45rem; height:6rem; border-bottom:none;}

/*concert_infor*/
.concert_infor { width:18.75rem;}
/*场次*/
.concert_infor .session{ width:18rem; height:8.475rem; padding-top:0.175rem; padding-left:0.75rem; background:#fff;}
.concert_infor .session h4{ font-size:0.75rem; line-height:1.875rem; color:#666;}
.concert_infor .session .session_infor{ width:18rem;}
.concert_infor .session_infor li{ float:left; width:3.35rem; height:2.25rem; border:2px solid #ccc; border-radius:3px; overflow:hidden; margin-right:0.75rem; margin-bottom:0.5rem; padding:0.2rem 0.825rem 0 0.825rem; }
.concert_infor .session_infor .cur{ background:#d6131c; color:#fff; border:2px solid #d6131c;}
.concert_infor .session_infor .cur span{  color:#fff;}
.concert_infor .session_infor li span{ float:left; font-size:0.6rem; color:#666; line-height:1.05rem;}
.concert_infor .session_infor li span:nth-child(1){ margin-right:0.45rem;}
/*价格*/
.concert_infor .price{ width:18rem; height:8.475rem; padding-top:0.175rem; padding-left:0.75rem; background:#fff;}
.concert_infor .price h4{ font-size:0.75rem; line-height:1.875rem; color:#666;}
.concert_infor .price .session_infor{ width:18rem;}
.concert_infor .price_infor li{ float:left; width:3.35rem; height:2.45rem; border:2px solid #ccc; border-radius:3px; overflow:hidden; margin-right:0.75rem; margin-bottom:0.5rem; padding:0 0.825rem 0 0.825rem; }
.concert_infor .price_infor .show{ background:#d6131c; border:2px solid #d6131c;}
.concert_infor .price_infor .show span{ color:#fff;}
.concert_infor .price_infor li span{ float:left; width:100%; height:100%; text-align:center; font-size:0.7rem; color:#666; line-height:2.45rem;}
/*购买数量*/
.concert_infor .num{ width:18rem; height:6.5rem; padding-top:0.175rem; padding-left:0.75rem; background:#fff;}
.concert_infor .num h4{ font-size:0.75rem; line-height:1.875rem; color:#666;}
.concert_infor .num .number{ width:18rem; overflow:hidden; margin-bottom:1rem;}
.concert_infor .number span{ float:left;}
.concert_infor .number span:nth-child(1){ width:1.9rem; height:1.9rem; border:2px solid #ccc; margin-right:0.75rem;}
.concert_infor .number span:nth-child(2){ width:11.65rem; height:1.9rem; border:2px solid #ccc; margin-right:0.75rem; text-align:center; line-height:1.9rem; font-size:0.7rem; font-weight:bold;}
.concert_infor .number span:nth-child(3){ width:1.9rem; height:1.9rem; border:2px solid #ccc;}
.concert_infor .number span:nth-child(1) img{ width:1.9rem; height:1.9rem;}
.concert_infor .number span:nth-child(3) img{ width:1.9rem; height:1.9rem;}
/*hint*/
.concert_infor .hint{ width:18rem; height:0.7rem;}
.concert_infor .hint img{ width:0.7rem; height:0.7rem; margin-right:0.25rem; margin-top:-0.1rem; float:left;}
.concert_infor .hint b{ font-size:0.6rem; line-height:0.6rem; color:#de4249; font-weight:normal; float:left;}
/*concert_refor_order*/
.concert_refor_order { width:18.75rem;}
/*infor*/
.concert_refor_order .infor{ width:18.75rem; background:#fff;}
.concert_refor_order .infor ul{ width:17.25rem; margin-left:0.75rem;}
.concert_refor_order .infor ul li{ width:17.25rem; height:1.925rem; border-bottom:1px solid #ebebeb;}
.concert_refor_order .infor ul li span:nth-child(1){ font-size:0.75rem; line-height:1.925rem; color:#4d4d4d; margin-right:0.75rem;}
.concert_refor_order .infor ul li span:nth-child(2){ font-size:0.75rem; line-height:1.925rem; color:#666;}
.concert_refor_order .infor ul li span b{ font-weight:normal; margin-right:0.75rem;}
.concert_refor_order .infor ul li span i{ font-style:normal; font-weight:normal;}
.concert_refor_order .hint{ width:18rem; height:1.7rem; font-size:0.6rem; line-height:0.6rem; color:#9c9c9c; margin-top:1rem; margin-left:0.75rem;}
.concert_refor_order .hint img{ width:0.7rem; height:0.7rem; margin-right:0.25rem; margin-top:-0.035rem;}
.concert_refor_order .hint span{ color:#d6131c;}
/*配送*/
.concert_refor_order .express{ width:18.75rem; height:6.5rem; background:#fff;}
.concert_refor_order .express h4{ width:17.25rem; margin-left:0.75rem; line-height:2.475rem; line-height:2.225rem; font-size:0.725rem; border-bottom:1px solid #e0e0e0;}
.concert_refor_order .express h4 span{ margin-left:0.65rem; color:#d6131c; font-weight:normal;}
.concert_refor_order .express_in{ width:17.25rem; margin-left:0.75rem;}
.concert_refor_order .express_in li{ float:left; width:4.9rem; height:2.4rem; border:2px solid #d6131c; 
margin-top:0.75rem; margin-right:1rem; text-align:center;}
.concert_refor_order .express_in li img{ width:1.1rem; height:0.8rem; margin-right:0.5rem; margin-top:0.8rem;}
.concert_refor_order .express_in li span{ font-size:0.65rem; color:#db323a; margin-top:0.7rem; display:inline-block;}
/*地址*/
.concert_refor_order .site{ width:18rem; height:4.5rem; padding-left:0.75rem; background:#fff;}
.concert_refor_order .site a{ width:18rem; height:4.5rem; padding-left:0.75rem; display:block;}
.concert_refor_order .site img:nth-child(1){ width:0.6rem; height:0.8rem; margin-top:1.45rem; margin-right:0.9rem; margin-bottom:2rem;}
.concert_refor_order .site img:nth-child(3){ width:0.4rem; height:0.7rem; margin-top:2rem; margin-right:1.2rem;}
.concert_refor_order .site_infor{ width:14.75rem; padding-top:0.5rem;}
.concert_refor_order .site_infor .name{width:14.75rem; font-size:0.75rem; line-height:1.25rem; color:#666;}
.concert_refor_order .site_infor .name span:nth-child(1){ margin-right:1rem;}
.concert_refor_order .site_infor .name span:nth-child(2){ margin-right:0.5rem;}
.concert_refor_order .site_infor .name span:nth-child(3){ width:1.75rem; height:0.75rem; background:#d6131c; text-align:center; line-height:0.75rem; font-size:0.575rem; display:inline-block; color:#fff; margin-top:0.25rem;}
.concert_refor_order .site_infor .action{width:14.75rem; font-size:0.75rem; line-height:1.25rem; color:#999;}
/*concert_particulars*/
.concert_particulars { width:18.75rem;}
/*poster*/
.concert_particulars .poster{ width:18.75rem; height:7.5rem; border-top:1px solid #e0e0e0; position:relative; overflow:hidden;}
.concert_particulars .poster .poster_bg{ width:18.75rem; height:7.5rem; -webkit-transform:scale(10,10); margin-left:52rem; margin-top:6rem;}
.concert_particulars .poster .poster_sm{ width:5rem; height:5rem; border-radius:0.2rem; position:absolute; left:50%; top:50%; margin-left:-2.5rem; margin-top:-2.5rem; z-index:3;}
.concert_particulars .cover{ width:100%; height:100%; background:rgba(0,0,0,.5); position:absolute; left:0; top:0;}
.concert_particulars .concert{ width:18.75rem;}
.concert_particulars .concert li{ width:18rem; height:2rem; border-bottom:1px solid #ebebeb; font-size:0.7rem; line-height:2rem; padding-left:0.75rem;}
.concert_particulars .concert .one{ font-weight:bold;}
.concert_particulars .infor{ width:17.15rem; padding:0 0.8rem 1.15rem 0.8rem; background:#f5f5f5;}
.concert_particulars .infor h4{ font-size:0.7rem; line-height:2.2rem; text-align:center; width:100%;}
.concert_particulars .infor p{ font-size:0.6rem; line-height:1.1rem; color:#666; }
.concert_particulars .buy{ width:18.75rem; height:2.075rem; border-bottom:1px solid #ebebeb;}
.concert_particulars .buy p{ font-size:0.7rem; line-height:2.075rem; margin-left:0.75rem; color:#666;}
.concert_particulars .buy span{ margin:0.75rem 0.75rem 0 0;}
.concert_particulars .buy span img:nth-child(1){ width:0.4rem; height:0.7rem; transform:rotate(-90deg); display:none;}
.concert_particulars .buy span img:nth-child(2){ width:0.4rem; height:0.7rem; transform:rotate(90deg); display:none;}
.concert_particulars .buy_none{width:17.15rem; padding:1rem 0.8rem 1.15rem 0.8rem; background:#f5f5f5; font-size:0.7rem; line-height:1.1rem; color:#666; display:none;}
.concert_particulars .note{ width:18.75rem; height:0.85rem;}
.concert_particulars .note img{ width:18.75rem; height:0.85rem;}
